<section class="property-binding">

    <article>
        <h3>interpolation / Interpolação</h3>
        <p>Resultado de 1 + 1 é: {{1 + 1}} </p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }} </p>
        <p>String renderizada com Interpolção: {{ url }} </p>
        <p>Curso Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>
    <br><br>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
        <img bind-src="urlImagem">
    </article>
    <br><br>

    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe
            <select #classe (change)="0">
                <option value="alert-primary">Primary</option>
                <option value="alert-secondary">Secondary</option>
                <option value="alert-success">Success</option>
                <option value="alert-danger">Danger</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-info">Info</option>
                <option value="alert-light">Light</option>
                <option value="alert-dark">Dark</option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }} " role="alert">
                TEXTO COLORIDO CONFORME VALOR DO COMBOBOX.
            </div>

            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
                Esse texto somente aparece em caso de danger
            </div>

            <div class="alert" role="alert" [class.alert-primary]="classe.value == 'alert-primary'">primary alert</div>
            <div class="alert" role="alert" [class.alert-secondary]="classe.value == 'alert-secondary'">secondary alert
            </div>
            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">success alert</div>
            <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">danger alert</div>
            <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">warning alert</div>
            <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">info alert</div>
            <div class="alert" role="alert" [class.alert-light]="classe.value == 'alert-light'">light aler</div>
            <div class="alert" role="alert" [class.alert-dark]="classe.value == 'alert-dark'">dark alert</div>

        </div>
    </article>
    <br><br>
    <article>
        <h3>Event Binding</h3>
        <div>
            <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>

            <br><br>

            <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)"
                (blur)="salvarValor(campoInput.value)" #campoInput>

            <p>Valor Atual: {{ valorAtual }} </p>
            <p>Valor Salvo: {{ valorSalvo }} </p>

            <br>
            <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">
                Passe o mouse sobre mim
            </span>
            <br><br>

            <input type="text" (blur)="descInput(vsImput.value)" (keyup.enter)="descInput(vsImput.value)" #vsImput>

            <p>Descrição: {{ descricao }} </p>
        </div>
    </article>

</section>

<section class="two-way-binding">
    <article>
        <h3>Two-way data binding</h3>
        <div>
            <input type="text"
             [value]="nome" 
             (input)="nome = nomeImput.value" #nomeImput/>

             <input type="text"
             [ngModel]="nome" 
             (ngModelChange)="nome = $event"/>
            
             <input type="text"[(ngModel)]="nome"/>
             <input type="text" bindon-ngModel="nome"/>
            
            <p>Você digitou: {{ nome }}</p>
        </div>

        <div>

            <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade. </p>

            <input type="text" [(ngModel)]="pessoa.nome">
            <input type="text" [(ngModel)]="pessoa.idade">

        </div>
    </article>
</section>